.App {
	text-align: center;
	min-height: 100vh;
	background-color: #282c34;
}

.App-flex-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.App-button-counter {
	display: flex;
	flex-direction: row;
	align-content: space-around;
	justify-content: right;
}

.App-tab-counter {
	color: #b7b7b7;
}
